<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!-- 
    Enter folder and file paths in the value after first run. 
    However, set the values empty for initial start up to generate folder and file for you.     
    -->
    <add key="AppDataFolder" value="C:\Documents\AppStartup\Data"/>
    <add key="AppsFile" value="C:\Documents\AppStartup\Data\AppsFile.xml"/>
  </appSettings>
</configuration>
